.idea/
BackUp from SERVER/
CERN SUMMER SCHOOL (nonProf)/
CERN presentation/
Doopler Switch.pdf
Doopler Switch.svg
Ex_temp_M.mat
T_temp_M.mat
backups/
Report_OLD/
Report/
__pycache__/
*.swp
